<h1><%= "#{@blogger.first_name} #{@blogger.last_name}" %>'s Blog Posts</h1>

<% if @blogs %>
  <ul>
    <% @blogs.each do |blog| %>
      <li>
        <%= link_to "#{blog.title}", blogger_posts_path%>
      </li>
    <% end %>
  </ul>
<% else %>
  <h3>No Posts Here</h3>
<% end %>

<%= link_to 'Create a Blog Post', new_blog_path(:blogger_id)%>
