<h1 style="text-align:center;">Landing Page</h1>
<hr>
<p style="text-align:center;">PAGE USERS SEE FIRST AND HAVE A LINK TO CLICK ON TO GO TO A LOGIN PAGE.
</p>
<br><br><br><br><br><br>

<div class="login-center">
<%= link_to 'LOGIN', new_user_session_path %>
</div>
