<div class="login-center">
<h1>Landing Page</h1>
<hr>
<p>PAGE USERS SEE FIRST AND HAVE A LINK TO CLICK ON TO GO TO A LOGIN PAGE.
</p>
<br><br>
<%= link_to 'LOGIN', new_user_session_path %>
<br><br>
<%= link_to 'COMMENTS', new_user_registration_path %>
</div>
