/*
*=require commontator/application
*/
@import "materialize/components/color";
$primary-color: color("light-green", "darken-1") !default;
@import 'materialize';

@import 'blogs';

.pagination a li.active {
	color: blue;
}

input {
  text-transform: capitalize;
}